body { padding-top: 50px; }

.top{
    margin-top:20px;
}

nav{
    -webkit-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px -4px rgba(0,0,0,0.75);
}

.color-title{
    color: #138496;
}

.centered-form .panel{
	background: #e0e0e0;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.botom-30{
    margin-bottom: 30px;
}
.color-frame{
    background-color:#EEEEEE ;
}
.color-background{
    background-color: white;
    min-height: 590px !important;
}

.top15{
    margin-top: 20px;
}
.float-left{
    float: left;
}

.btn-menu{ 
    margin-bottom: 2px; 
    height: 30px;
    background-color: #138496;
    border-color: #46b8da;
    cursor: pointer;   
    display: inline-block;
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    color: #fff;
    text-align: center; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-menu:hover{ 
    background-color: #17a2b8;
    text-shadow: 0 -1px 1px rgba(175, 135, 49, 0.9), 0 0 5px rgba(255, 255, 255, 0.8);
    color:#FFF;  
}

form {
    margin: 20px auto;
    width: 420px;
}
.form-row {
    padding: 5px 10px;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 100%;
}
input.currency {
    text-align: right;
    padding-right: 15px;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}

.btn-buy{
    cursor: pointer;
    width: 150px;
    height: 40px;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ebe841;
    -webkit-box-shadow:    0 8px 0 #c5ab37, 0 15px 20px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0 8px 0 #c5ab37, 0 15px 20px rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 0 #c5ab37, 0 15px 20px rgba(255, 255, 255, 0.35);
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
    -moz-transition: -moz-box-shadow .1s ease-in-out;
    -o-transition: -o-box-shadow .1s ease-in-out;
    transition: box-shadow .1s ease-in-out;
    font-size: 50px;
    color: #fff;
    text-align: center; 
    padding: 0px  ;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive !important;  
}
 

@media (max-width: 800px) and (max-height: 1024px) {
    .color-background{
        min-height: 970px !important;
    }
}

@media (max-width: 500px) and (max-height: 800px) {
    .color-background{
        min-height: 550px !important;
    }
} 